[Desktop Entry]
Categories=Qt;KDE;X-KDE-settings-hardware;
Comment=Software Management
Comment[pt_BR]=Gerenciamento de Software
Exec=kcmshell4 kpk_settings
Icon=preferences-other
Name=KPackagekit Settings
Name[pt_BR]=Configurações do KPackagekit
Type=Service
X-KDE-Keywords=packagekit,setup,settings
X-KDE-Keywords[pt_BR]=packagekit,configurações
X-KDE-Library=kcm_kpk_settings
X-KDE-ParentApp=kcontrol
X-KDE-ServiceTypes=KCModule,KCModuleInit
X-KDE-System-Settings-Parent-Category=add-and-remove-software
