[Desktop Entry]
Categories=Qt;KDE;X-KDE-settings-hardware;
Comment=Software Management
Comment[pt_BR]=Gerenciamento de Software
Exec=kcmshell4 kpk_update
Icon=security-high
Name=KPackagekit Update System
Name[pt_BR]=KPackagekit Atualizador do Systema
Type=Service
X-KDE-Keywords=packagekit,update,upgrade
X-KDE-Keywords[pt_BR]=packagekit,atualizar
X-KDE-Library=kcm_kpk_update
X-KDE-ParentApp=kcontrol
X-KDE-ServiceTypes=KCModule,KCModuleInit
X-KDE-System-Settings-Parent-Category=add-and-remove-software
